.vocs_NavLogo_logoImage {
    height: 80% !important;
}

.vocs_DocsLayout_content_withSidebar {
    margin-left: max(calc((100vw - calc(70ch + (3rem * 2))) / 2), 300px);
}

.vocs_DocsLayout_gutterLeft {
    justify-content: flex-start;
    width: unset;
}

.vocs_DocsLayout_gutterRight {
    justify-content: flex-end;
    width: unset;
}

@media (max-width: 1650px) {
    .vocs_DocsLayout_gutterRight {
        justify-content: flex-end;
        width: calc(100vw - var(--vocs-content_width) - var(--vocs_DocsLayout_leftGutterWidth));
    }
}


.vocs_DesktopTopNav_logoWrapper {
    display: none;
}

:root:not(.dark) .vocs_DocsLayout {
    color: #060606;
}

:root {
    color-scheme: light dark;
    /* Force dark mode by default to prevent flashing */
    background-color: #0a0a0a !important;
    color: #ffffff !important;
}

/* Override any other styles that might cause flashing */
* {
    background-color: inherit !important;
    color: inherit !important;
}

/* Default to system preference, but allow override */
:root:not(.dark) {
    color-scheme: light;
    background-color: #ffffff;
    color: #000000;
}

:root.dark {
    color-scheme: dark;
    background-color: #0a0a0a;
    color: #ffffff;
}

/* Ensure body also has the right colors */
html, body {
    background-color: inherit;
    color: inherit;
}